*{
    padding: auto;
    margin: 0;
    /* background-color: rgb(241, 241, 241); */
}

.first{
    /* background-color: rgb(224, 224, 224); */
     background-color: rgb(255, 172, 172);
    width: 300px;
    /* place-items: center; */
    margin: auto;
    padding: 12px;
    /* text-align: center; */
    border-radius: 20px;
    margin-top: 40px;
}

.childOne{
    background-color: rgb(247, 245, 245);
    border-radius: 20px;
    /* padding: 30px 12px; */
    /* text-align: center; */
    padding: 12px;
    /* color: white;  */
    width: 100%;

}
.childTwo{
     background-color: rgb(15, 0, 0);
    border-radius: 20px;
    padding: 12px;
    width: 100%;
    text-align: center; 
    color: white; 
    margin-top: 4px;

}
#icon{
    font-size: 50px;
    font-weight: 100;
   background-color: white;
    border: 4px solid rgb(224, 224, 224);
    border-radius: 100%;
    color: rgb(0, 0, 128);
} 
.icon{
    background-color: white;
    border: 6px solid black;
    border-radius: 100%;
}
.hello{
    display: flex;
    justify-content: space-around;
}
select{
    border: 2px solid  rgb(255, 219, 172);
    border-radius: 20px;
    padding: 4px;
    outline-color:  rgb(255, 219, 172);
    border-color: rgb(255, 219, 172);
    color:  rgb(255, 219, 172);
    
} 
#final{
    font-size: 40px;
    font-weight: 600;
}
#input{
    font-size: 30px;
    font-weight: 200;
    border: none;
    outline: none;
    /* text-align: center; */
}

ul{
    display: flex;
    gap: 12px;
    list-style: none;
    background-color:  rgb(238, 236, 236);
    padding: 6px;
    padding-left: 20px;
    border-radius: 12px;
    margin: auto;
    width: 200px;
}






