*{
    padding: auto;
    margin: auto;
}

.first{
     background-color: rgb(15, 0, 0);
    width: 300px;
    margin: auto;
    padding: 12px;
    border-radius: 20px;
    margin-top: 40px;
}

.childOne{
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
    text-align: center;
    padding: 12px;
    color: white; 
    width: 100%;
}
.childTwo{
     background-color: rgb(44, 44, 44);
    border-radius: 20px;
    padding: 12px;
    width: 100%;
    text-align: center; 
    color: white; 
    margin-top: 4px;
}
#icon{
    font-size: 50px;
    font-weight: 100;
   background-color: white;
    border: 4px solid rgb(224, 224, 224);
    border-radius: 100%;
    color: rgb(0, 0, 128);
} 
.icon{
    background-color: white;
    border: 6px solid black;
    border-radius: 100%;
}
.hello{
    display: flex;
    justify-content: space-around;
}
select{
    border: 2px solid  rgb(255, 219, 172);
    border-radius: 20px;
    padding: 4px;
    outline-color:  rgb(255, 219, 172);
    border-color: rgb(255, 219, 172);
    color:  rgb(190, 179, 179);
    
} 
#final, .sun{
    font-size: 40px;
    font-weight: 600;
}
#input{
    font-size: 30px;
    font-weight: 200;
    border: none;
    outline: none;
    /* text-align: center; */
}
#corn{
     font-size: 40px;
    font-weight: 50;
}
#cornn{
    font-size: 20px;
    font-weight: 50;
}

ul{
    display: flex;
    list-style: none;
    background-color:  rgb(238, 236, 236);
    padding: 6px;
    padding-left: 20px;
    border-radius: 12px;
    margin: auto;
    width: 200px;
}

.wet{
    margin: auto;
    background: linear-gradient(to bottom, rgb(11, 0, 71), rgb(13, 0, 26));
    color: white;
    width: 300px;
    padding: 12px;
    text-align: center;
    place-items: center;
    border-radius: 12px;
    box-shadow: 2px 4px 4px 2px rgba(0, 107, 230, 0.2);
}
#wett{
    margin: auto;
    background: linear-gradient(to bottom, rgb(11, 0, 71), rgb(13, 0, 26));
    color: white;
    padding: 12px;
    text-align: center;
    place-items: center;
    border-radius: 12px;
    box-shadow: 2px 4px 4px 2px rgba(0, 107, 230, 0.2);
}
#put{
    color: black;
    background-color: white;
    border-radius: 12px;
    padding: 2px 8px;
    border: none;
    outline: none;
    margin-right: 4px;
}

#image{
    width: 200px;
    place-items: center;
}







